@import "tailwindcss";
@import 'react-loading-skeleton/dist/skeleton.css';

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.test {
  background-color: #ffffff;
}